﻿@model IEnumerable<NoteApp.Models.NoteModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAnswered)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteDate)
        </td>
        <td itemid="@item.Id">
            @*onclick="location.href='@Url.Action("SetFlag", "Home", new { id = item.Id, flag = item.IsAnswered })'"*@
            @Html.EditorFor(modelItem => item.IsAnswered, new { htmlAttributes = new { id = @item.Id } })
        </td>
        <td>
            @Html.ActionLink("Файл", "GetFile", new { id = item.Id })
        </td>
    </tr>
    }

</table>

@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $('.check-box').click(function (event) {
            //alert('id=' + event.target.id + ' flag=' + event.target.checked);
            $.ajax({
                    type: "GET",
                    dataType: "Json",
                    url: '@Url.Action("SetFlag", "Note")' + '?id=' + event.target.id + '&flag=' + event.target.checked,
                    async: true,
                    success: function(data) {
                        @*if (data == null || data.data == null) {
                            ErrorMessage("", "@Resource_en.YourPhoneDoesNotExistInOurDatabase");
                        } else {
                            user = data[Object.keys(data)[0]];
                                AddVereCode(user.ID);// anather Ajax call 
                                SuccessMessage("Done", "@Resource_en.VerificationCodeSentSuccessfully", "Done");
                        }*@
                    },
                    error: function() {
                        @*ErrorMessage("", '@Resource_en.ErrorOccourd');*@
                    }
                });
        });
    });
</script>

}


